/* X-Small	None	<576px
    Small	sm	≥576px
    Medium	md	≥768px
    Large	lg	≥992px
    Extra large	xl	≥1200px
    Extra extra large	xxl	≥1400px */

/* COLOR  */
    :root {
        --green:#1ABC9C;
        --light-blue:#3A546D;
        --blue:#2C3E50;       
    }

    .bg-green {
        background-color: var(--green) ;
    }

    .bg-light-blue {
        background-color: var(--light-blue) ;
    }

    .bg-blu {
        background-color: var(--blue) ;
    }

/* HERO */
.img-avatar {
    width: 200px;
    height: 200px;
}

.star-icon {
    color: white;
}

/* PORTFOLIO */

.black-star-icon {
    color: black;
}



/* DEBUG */

.debug .header-page {
    /* background-color: var(--blue); */
}

.debug .row {
    border: 1px solid red;
} 

.debug [class^="col"] {
    border: 1px solid green;
    padding: 20px;
}

.debug .footer-page {
    /* background-color: black; */
}


/* RESPONSIVE */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* HERO */

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
